// Base site colors
$white: #ffffff;
$black: #000000;

$pale-teal: #E0F2F2;
$light-teal: #a5dbdb;
$med-teal: #69C9CA;
$teal: #329999;

$light-blue: #73c0ea;

$light-green: #CFE295;
$med-green: #99C43C;
$dark-green: #99CA3C;
